.c-general-section-container {
  width: 100%;
  height: 100vh;
  background-color: var(--color-black-bg);
  /* background-color: aqua; */
  color: white;
  padding: 2rem;
  position: relative;
  padding-top: 5rem;
  /* display: grid; */
  /* gap: 10rem; */
}

