.c-section-tip-container {
  width: 100%;
  margin-top:4rem;
  display: grid;
  gap: 2rem;
}

.e-section-tip-elements{
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: bold;
}

.e-section-tip-elements-key {
  background-color: var(--color-green);
  padding: 0.5rem 2rem;
}

.e-section-tip-elements-value {
  padding: 0.5rem 0rem;
}